<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Nogaj</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <style>
        body {
            background-image: url("/assets/img/body_bg.png");
            background-repeat: repeat;
        }
        .demo-card > .mdl-card__title {
            color: #fff;
            max-height: 250px;
            background: url('https://s-media-cache-ak0.pinimg.com/736x/76/97/25/7697250a7d657f4ed1c723c4e5da7035--character-ideas-character-art.jpg') ;
            background-position: center;
        }
    </style>
  </head>
  <body>
    <div class="mdl-layout mdl-js-layout">
        <main class="mdl-layout__content">
            <div class="mdl-grid">
                {{ template "inventory_card" . }}
                {{ template "main_stats_card" . }}
                <div class="mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-grid mdl-grid--no-spacing">
                    {{ template "infos_card" . }}
                    <div class="demo-separator mdl-cell--1-col"></div>
                    {{ template "cash_card" . }}
                </div>
            </div>
            <div class="mdl-grid">
                {{ template "weapons_card" . }}
            </div>
        </main>
    </div>
  </body>
</html>